:root{
    --highlight: #f84464;
    --light-grey: #f5f5f5;
    --line-grey: #d9d9d9;
    --grey: #999999;
}
.highlight, .highlight:hover{
    background-color: var(--highlight);
}
.red{
    color: var(--highlight);
}
.button1{
    padding: 20px;
}
.button1:hover{
    outline: 3px solid var(--line-grey);
}
.login-btn{
    margin-top: 15px;
    font-weight: bold;
    width: 100%;
}
.login-text{
    text-align: center;
}
.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--light-grey);
}
.form-container{
    width: 25%;
    border: 1px solid var(--line-grey);
    padding: 40px;
    background-color: white;
    border-radius: 6px;
    min-width: 380px;
}
.form-heading{
    text-align: center;
    margin-bottom: 20px;
}
.form-input{
    padding: 7px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    background-color: white;
}
.grey-bg{
    background-color: var(--light-grey);
}
.nav-menu{
    flex: 1;
    min-width: 0; 
    justify-content: flex-end;
}