:root{
    --highlight: #f8447a;
    --highlight-light: #ff496b;
    --light-grey: #f5f5f5;
    --line-grey: #d9d9d9;
    --grey: #999999;
}
.highlight, .highlight:hover{
    background-color: var(--highlight);
}
.red{
    color: var(--highlight);
}
.bold{
    font-weight: bold;
}
.button1{
    padding: 20px;
}
.button2{
    padding: 18px;
}
.button3{
    padding: 20px 30px;
}
.button1:hover{
    outline: 3px solid var(--line-grey);
}
.login-btn{
    margin-top: 15px;
    font-weight: bold;
    width: 100%;
}
.login-text{
    text-align: center;
}
.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    width: 25%;
    border: 1px solid var(--line-grey);
    padding: 40px;
    border-radius: 6px;
    min-width: 380px;
    background-color: var(--line-grey);
    transform: translate(0,-50%);
    top: 50%;
    position: absolute;
}
.form-heading{
    text-align: center;
    margin-bottom: 20px;
}
.form-input{
    padding: 7px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06);
    z-index: 1;
    overflow: hidden;
}
.content{
    z-index: 0;
    padding: 0 50px;
    padding-bottom: 200px;
}
.white-bg{
    background-color: white;
}
.grey-bg{
    background-color: var(--light-grey);
}
.dark-grey-bg{
    background-color: var(--line-grey);
}
.nav-menu{
    flex: 1;
    min-width: 0; 
    justify-content: flex-end;
}
.cursor-pointer{
    cursor: pointer;
}
.content-container{
    margin: 40px auto;
    max-width: 1200px;
}
.layout{
    position: relative;
    min-height: 100vh;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 110px;
}
.footer-container{
    margin: 20px auto;
    margin-bottom: 10px;
    max-width: 1200px;
}
.movie-card{
    width: 200px;
}
.movie-loading-card{
    width: 200px;
    height: 380px;
    background-color: var(--light-grey);
}
.form-button-icon{
    font-size: 18px;
}
.icon-button{
    padding: 20px 12px;
}
.width-full{
    width: 100%;
}